fastapi
uvicorn
python-dotenv
sqlalchemy
pydantic
email-validator
pydantic-settings
mysql-connector-python
python-jose[cryptography]
passlib[bcrypt]
python-multipart
itsdangerous
authlib
httpx
stripe>=8
PyJWT
